<div class="show_post">
		<p><%= image_tag @post.user.photo %></p>
		<p><%= @post.user.name %></p>
		<P><%= image_tag @post.photo %></P>
		<p><%= @post.description %></p>
		<% if @post.user == current_user%>
		   <p><%= link_to 'Edit post', edit_post_path(@post.id) %></p>
		   <p><%= link_to 'Delete Post', post_path(@post.id), method: :delete %></p>
		<% end %>
</div>